<form method="POST" action="/login">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="Insert your username">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Insert your password">
    <br>
    <input type="role" name="role" placeholder="Insert your role">
    <br>
    <button type="submit">Login</button>
    </form>